<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frontendPlugins configSource="FrontEnds.xml" />
  <sharpPlugins configSource="Plugins.xml" />
  <appSettings file="">
    <clear />
    <add key="processPriority" value="256" />
    <add key="fftOffset" value="-40.0" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="tuningLimit" value="0.45" />
    <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
    <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="useAntiAliasedDisplay" value="true" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,5 kHz,6.25 kHz,7.5 kHz,8.33 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="RTLBufferLength" value="16384" />
    <add key="minOutputSampleRate" value="32000" />
    <add key="minReducedNarrowBandwidth" value="9000" />
    <add key="minReducedWideBandwidth" value="120000" />
    <add key="minThreadedSampleRate" value="1000000" />
    <add key="airspy.vga" value="6" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="6" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="1" />
    <add key="airspy.sampleRate" value="0" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.trackingFilterEnabled" value="True" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="True" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.aliasFreeRatio" value="0.8" />
    <add key="airspy.debug" value="0" />
    <add key="airspyhf.debug" value="0" />
    <add key="spyserver.disableAutoScaling" value="false" />
    <add key="rdsUseFEC" value="True" />
    <add key="timestampInterval" value="100" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="True" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="USRPSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
    <add key="plugin.bandPlan.enabled" value="True" />
    <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
    <add key="plugin.bandPlan.position" value="1" />
    <add key="waterfall.gradient" value="12BA1B,24EA2E,1E90FF,000091,000050,000020" />
    <add key="dnr.af.enabled" value="False" />
    <add key="dnr.af.profile" value="2" />
    <add key="dnr.af.threshold" value="-105" />
    <add key="dnr.af.depth" value="30" />
    <add key="dnr.af.attack" value="15" />
    <add key="dnr.af.decay" value="40" />
    <add key="dnr.af.fft" value="3" />
    <add key="dnr.af.quality" value="60" />
    <add key="dnr.if.enabled" value="False" />
    <add key="dnr.if.profile" value="1" />
    <add key="dnr.if.boostSNR" value="False" />
    <add key="dnr.if.threshold" value="-120" />
    <add key="dnr.if.depth" value="25" />
    <add key="dnr.if.attack" value="20" />
    <add key="dnr.if.decay" value="50" />
    <add key="dnr.if.fft" value="4" />
    <add key="dnr.if.quality" value="70" />
    <add key="nb.bb.enabled" value="False" />
    <add key="nb.bb.threshold" value="5" />
    <add key="nb.bb.pulseWidth" value="50.0000007450581" />
    <add key="nb.bb.lookupWindow" value="10.0000001490116" />
    <add key="nb.demod.enabled" value="False" />
    <add key="nb.demod.threshold" value="5" />
    <add key="nb.demod.pulseWidth" value="50.0000007450581" />
    <add key="nb.demod.lookupWindow" value="10.0000001490116" />
    <add key="TimeShiftEnable" value="False" />
    <add key="TimeShiftBuffer" value="30" />
    <add key="TimeShiftWaterfallSpeed" value="3" />
    <add key="TimeShiftWaterfallContrast" value="0" />
    <add key="TimeShiftUseZoom" value="False" />
    <add key="TimeShiftPluginPosition" value="1" />
    <add key="TimeShiftWaterfallResolution" value="1" />
    <add key="TV.Bright" value="50" />
    <add key="TV.Contrast" value="50" />
    <add key="TV.Modulation" value="0" />
    <add key="TV.VideoFilter" value="False" />
    <add key="TV.Pal_NTSC" value="0" />
    <add key="TV.ManualSync" value="False" />
    <add key="DCSSquelchCode" value="0" />
    <add key="DCSSquelchEnable" value="False" />
    <add key="DCSDetectEnable" value="False" />
    <add key="DCSAuxWindowEnable" value="False" />
    <add key="DCSShowOnSpectrum" value="False" />
    <add key="HighFilterFrequency" value="3500" />
    <add key="LowFilterFrequency" value="300" />
    <add key="ParametricAudioFilterEnable" value="False" />
    <add key="DeemphasisFilterEnable" value="False" />
    <add key="AlternativeSquelchEnable" value="False" />
    <add key="AlternativeSquelchThreshold" value="10" />
    <add key="833CalcEnabled" value="False" />
    <add key="833CalcCenter" value="False" />
    <add key="airspyhf.decimation" value="0" />
    <add key="showBookmarks" value="False" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="True" />
    <add key="DSDPath" value="C:\Users\jleli_000\Downloads\RTL-SDR Stuff\DSDPlus1p101\DSDPlus.exe" />
    <add key="DSDArguments" value="-O NUL -I0 -M15 -v2 -i1 -o2 -g0 -u3 -dr0 -dh0 -ds64 -dd10 -dv20 -fa" />
    <add key="DSDAuxArguments" value="-wsl10.10 -wss200.300 -wsp100 -wel50.50 -wes400.500 -weh15 -wcl90.90 -wch15" />
    <add key="DSDOutputDevice" value="[MME] CABLE Input (VB-Audio Virtual C" />
    <add key="DSDGain" value="50" />
    <add key="ScanModeIndex" value="0" />
    <add key="FrequencyRangeIndexes" value="" />
    <add key="AutoSkipEnabled" value="False" />
    <add key="AutoSkipIntervalInSec" value="30" />
    <add key="AutoLockEnabled" value="False" />
    <add key="AutoLockIntervalInSec" value="60" />
    <add key="AutoClearEnabled" value="False" />
    <add key="AutoClearActivityLevel" value="1" />
    <add key="AutoClearIntervalInSec" value="10" />
    <add key="ChannelDetectOnCenterFrequency" value="False" />
    <add key="ScannerUseAudioMute" value="False" />
    <add key="ScannerUnMuteDelay" value="5" />
    <add key="ScannerDetect" value="100" />
    <add key="ScanLevel" value="30" />
    <add key="PauseToNextScreenInMs" value="2000" />
    <add key="ScannerHysteresis" value="10" />
    <add key="ScannerMaxSelect" value="False" />
    <add key="ScannerButtonsMaxAlpha" value="150" />
    <add key="ScannerButtonsMinAlpha" value="40" />
    <add key="ScannerPluginPosition" value="1" />
    <add key="CTCSSSquelchTone" value="110.9" />
    <add key="CTCSSSquelchEnable" value="False" />
    <add key="CTCSSDetectEnable" value="False" />
    <add key="CTCSSAuxWindowEnable" value="False" />
    <add key="CTCSSOnSpectrum" value="False" />
    <add key="spectrumAnalyzer.attack" value="0.5" />
    <add key="spectrumAnalyzer.decay" value="0.4" />
    <add key="waterfall.Attack" value="1" />
    <add key="waterfall.decay" value="0.92" />
    <add key="useTimeMarkers" value="False" />
    <add key="fftSpeed" value="40" />
    <add key="fftContrast" value="-6" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="4" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="2" />
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="500" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="frequencyShift" value="100" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="False" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="True" />
    <add key="filterAudio" value="False" />
    <add key="unityGain" value="False" />
    <add key="latency" value="100" />
    <add key="sampleRate" value="48000 sample/sec" />
    <add key="audioGain" value="52" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="0" />
    <add key="windowPosition" value="247,102" />
    <add key="windowSize" value="1393,886" />
    <add key="collapsiblePanelStates" value="0,0,0,0,0,0,0,0,0,0,0,0" />
    <add key="splitterPosition" value="200" />
    <add key="iqSource" value="4" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="116515008" />
    <add key="vfo" value="115839828" />
    <add key="tuningStyle" value="0" />
    <add key="fftDisplayOffset" value="2" />
    <add key="fftDisplayRange" value="5" />
    <add key="inputDevice" value="[MME] Microsoft Sound Mapper - Input" />
    <add key="outputDevice" value="[MME] Speakers (JBL Flip 3 Stereo)" />
    <add key="spectrumWidth" value="1638401" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="menuPosition" value="0" />
    <add key="wfmState" value="11460,10,1,50,0,1000,1,18,0,1,0,0" />
    <add key="nfmState" value="12530,100,3,65,0,1000,0,12,0,1,0,0" />
    <add key="amState" value="32000,2300,1,60,0,1000,0,3,0,1,0,0" />
    <add key="lsbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="usbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="dsbState" value="6000,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="cwState" value="300,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="rawState" value="10000,1000,3,50,0,1000,1,4,1,0,0,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="181" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
    <add key="rtl.tunerGain" value="11" />
    <add key="rtl.sampleRate" value="4" />
    <add key="rtl.tunerAgc" value="True" />
    <add key="rtl.frequencyCorrection" value="0" />
    <add key="rtl.chipAgc" value="False" />
    <add key="rtl.samplingMode" value="2" />
    <add key="rtl.offsetTuning" value="True" />
  </appSettings>
</configuration>